* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
    outline: none;
    border: none;
  }


html{
    background-color: wheat;
}

#iconquaylai {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    left: 50px;
}

.header {
    padding: 20px 0px 0px 0px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

b {
    font-size: 32px;
}

h5 {
    font-size: 20px;
}


.text-anhminhhoa {
    padding: 10px 0px 0px 0px;
}

#img-1 {
    width: 900px;
    height: 500px;
}

i {
    font-size: 14px;
    padding: 10px 0px 10px 0px;
}




.text-noidung {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
    padding: 15px 0px 0px 0px;
}

#img-2 {
    padding: 15px 0px 0px 0px;
    width: 900px;
    height: 600px;
}

#img-3 {
    padding: 15px 0px 0px 0px;
    width: 900px;
}


.text-nenvang {
    margin: 15px 0px 0px 0px;
    border: 1px solid #000;
    background-color: rgb(254, 254, 159);
}

h6 {
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}


#img-4 {
    padding: 15px 0px 0px 0px;
    width: 900px;
}

#img-5 {
    padding: 15px 0px 0px 0px;
    width: 900px;
}


footer {
    margin: 50px;
    /* background-color:rgb(235, 190, 107); */
    background-image: linear-gradient(to right bottom, darksalmon, wheat);
    color: #555;
    border: solid;
    /* color: darksalmon; */
  }
  
  
  .footer-list {
    margin: 12px 0px;
    list-style:none;
  }
  .grid__row {
    display: flex;
  }
  
  .footer__heading {
    margin: 15px 80px;
    font-size: 18px;
  }
  
  .footer-item__link {
    margin: 10px 80px;
    font-size: 15px;
    color: rgb(255, 255, 255);
  }
  
  .user {
    width: 10px;
  }
  
  .phone {
    width: 10px;
  }
  
  .gmail {
    width: 9px;
  }
  
  .facebook {
    width: 10px;
  }
  
  .youtube {
    width: 11px;
  }
  
  .discord {
    width: 11px;
  }
  